$mobile-width-small: 320px;
$mobile-width-large: 767px;
$tablet-vertical-width-small: 768px;
$tablet-vertical-width-large: 1023px;
$tablet-horizontal-width-small: 1024px;
$tablet-horizontal-width-large: 1199px;
$desktop-width-small: 1200px;
$desktop-width-medium: 1339px;
$desktop-width-medium01: 1340px;
$desktop-width-large: 1399px;
$desktop-width-ExtraLarge: 1400px;
$desktop-width-ExtraExtraLarge: 1599px;
$desktop-width-ExtraExtraLarge01: 1600px;
